/*/***************************
****** LINE SELECTOR *********
/*****************************
*/
main .table .main-table .line-selector {
    position: relative;
}

main .table .main-table .line-selector label {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 25%;
    cursor: pointer;
    height: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    margin: 0;
}

main .table .main-table .line-selector label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 4px;
    left: 6px;
    opacity: 0;
    position: absolute;
    top: 5px;
    transform: rotate(-45deg);
    width: 6px;
}

main .table .main-table .line-selector input[type="checkbox"] {
    visibility: hidden;
}

main .table .main-table .line-selector input[type="checkbox"]:checked + label {
    background-color: #ddb400;
    border-color: #ddb400;
}

main .table .main-table .line-selector input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

/***************************
****** SHEET SELECTOR ******
/***************************
*/
main .table .main-table .sheet-selector {
    position: relative;
}

main .table .main-table .sheet-selector label {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 25%;
    cursor: pointer;
    height: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    margin: 0;
}

main .table .main-table .sheet-selector label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 4px;
    left: 6px;
    opacity: 0;
    position: absolute;
    top: 5px;
    transform: rotate(-45deg);
    width: 6px;
}

main .table .main-table .sheet-selector input[type="checkbox"] {
    visibility: hidden;
}

main .table .main-table .sheet-selector input[type="checkbox"]:checked + label {
    background-color: #ddb400;
    border-color: #ddb400;
}

main .table .main-table .sheet-selector input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

/*
************ SELECT ROW ON CLICK ************
*/
main .main-table .cell.rowSelected {
    background-color: #FCF3CF;
}

/* 
*************  SWITCH => Checkbox ************
 */
.switch {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ddb400;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ddb400;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    width: 45px;
    height: 24px;
    margin: 0 auto;
    cursor: pointer;
}

.slider.round:before {
    border-radius: 50%;
}