body {
    font-family: 'Poppins', sans-serif;
    background-color: #F4F4F8;
}

div.head {
    background-color: #009FB7;
}

div.head .room-name {
    display: inline-block;
    font-size: 32px;
    font-weight: 500;
    color: #F4F4F8;
}

div.head .room-id {
    display: inline-block;
    font-size: 32px;
    font-weight: 500;
}

div.head .room-id::before {
    content: ' - ';
    font-size: 32px;
    font-weight: 500;
}
/*
*   Head sheet    
*/


tbody th {
    width: 80px;
}
tbody td {
    width: 150px;
}

/*
*   Column    
*/
td {
    position: relative;
    border: 1px solid #E6E6EA;
    max-width: 100px;
}

/*
*   Field active / inactive    
*/
td.active {
    border: 1px solid blue;
    background: #f0f;
}

td.inactive {
    border: 1px solid pink;
    background: grey;
}

/*
*   Fields    
*/
td span,
td input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    background: white;
    outline: transparent;
}

span.inactive,
input.inactive {
    display: none;
}

span.active,
input.active {
    display: block;
}