/*  ========================================
    ============ MODALE GLOBAL =============
    ========================================
*/  

#modale {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #0008;
    opacity: 0;
}

#modale.opened {
    z-index: 4;
    opacity: 1;
    transition: opacity 0.3s ease-in-out 0s;
}

#modale #modale-container {
    width: 60%;
    height: 80%;
    background-color: rgb(79, 183, 171);
    /* border-top: 5px solid rgb(65, 173, 173); */
    margin: 0 auto;
    top: 10%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 5px;
}

#modale #modale-container #modale-content #modale-close {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 50px;
    font-weight: 400;
    color: rgba(253, 253, 253, 0.8);
    cursor: pointer;
    transform: rotate(45deg);
}

#modale #modale-container #modale-content #modale-close:hover {
    color: rgb(65, 173, 173);
}

/*
***********************************************************
*********************** ADD COL CSS ***********************
***********************************************************
*/

.drawer.active + #modale.column-add #modale-container.column-add {
    left: 410px;
}

#modale.column-add {
    background: rgba(190, 190, 190, 0.3);
}

#modale.column-add #modale-container.column-add {
    width: 350px;
    height: 300px;
    left: 60px;
    position: absolute;
    top: 110px;
    box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 5px;
    padding: 15px;
}

#modale.column-add #modale-container.column-add #modale-content #modale-close {
    right: -10px;
    top: -15px;
    line-height: 1;
    z-index: 1;
}

#modale #modale-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#modale #modale-content h2{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: black;
    width: 100%;
    height: 50px;
}
#modale #modale-content form {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 200px;

}

#modale #modale-content form .label-name {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 30px;
}

#modale #modale-content form .label-select {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 30px;
}

#modale #modale-content form input {
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 30px;
    margin: 0;
    padding: 0 5px;
    border-radius: 5px;
    background-color: #E6E6EA;
    box-shadow: #ACACAF 0px 0px 5px;
}

#modale #modale-content form select {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 30px;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    border: none;
    background-color: #E6E6EA;
    box-shadow: #ACACAF 0px 0px 5px;
}

#modale #modale-content form button {
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 30px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 5px;
    background-color: #E6E6EA;
    box-shadow: #ACACAF 0px 0px 5px;
    cursor: pointer;
}

#modale #modale-content form button:hover {
    background-color: #ACACAF;
}
