body {
    font-family: 'Poppins', sans-serif;
    background-color: #F4F4F8;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

div.head {
    background-color: #009FB7;
}

div.head .room-name {
    display: inline-block;
    font-size: 32px;
    font-weight: 500;
    color: #F4F4F8;
}

div.head .room-id {
    display: inline-block;
    font-size: 32px;
    font-weight: 500;
}

div.head .room-id::before {
    content: ' - ';
    font-size: 32px;
    font-weight: 500;
}
/*
*   Head sheet    
*/


tbody th {
    width: 80px;
}
tbody td {
    width: 150px;
}

/*
*   Column    
*/
td {
    position: relative;
    border: 1px solid #E6E6EA;
    max-width: 100px;
}

/*
*   Field active / inactive    
*/
div.sheet-cell.active {
    border: 1px solid blue;
    background: #f0f;
}

div.sheet-cell.inactive {
    border: 1px solid pink;
    background: grey;
}

/*
*   Fields    
*/
div.sheet-cell span,
div.sheet-cell input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    /* background: white; */
    outline: transparent;
}

span.inactive,
input.inactive,
select.inactive {
    display: none;
}

span.active,
input.active,
select.active {
    display: block;
}

header {
    width: 100%;
    height: 50px;
}

main {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

/*
* Section Drawer
*/
main .drawer {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 400px;
    height: 100%;
    background-color: #006372;
    transition: left 0.4s ease-in-out;
}

/* 
* drawer active / inactive
*/
main .drawer.active {
    left: 0;
}

main .drawer.inactive {
    left: -350px;
    transition: left 0.4s ease-in-out;
}

/*
============ LOGO GEAR ============
*/
main .drawer .gear-ctn {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 15px;
    top: 15px;
}

main .drawer .gear-ctn img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 0.2s ease-in;
    animation: spinImg 10s linear infinite;

}
/* HOVER LOGO GEAR */
main .drawer .gear-ctn img:hover {
    animation: spinImg 1s linear infinite;
}

/*
************ ANIME SPIN GEAR **************
*/
@keyframes spinImg {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*
============ LOGO ADDCOL ============
*/
main .drawer .addcol-ctn {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 15px;
    top: 55px;
    
}

main .drawer .addcol-ctn img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    filter: contrast(0.8);
    transform: rotate(90deg);
}

main .drawer .addcol-ctn img:hover {
    transform: scale(1.1) rotate(90deg);
    filter: contrast(2);
}

/*
============ LOGO ADDROW ============
*/
main .drawer .addrow-ctn {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 15px;
    top: 88px;
    
}

main .drawer .addrow-ctn img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    filter: contrast(0.8);
    transform: rotate(180deg);
}

main .drawer .addrow-ctn img:hover {
    transform: scale(1.1) rotate(180deg);
    filter: contrast(2);
}


/*
* Section Table
*/
main .table {
    position: absolute;
    right: 0;
    top: 52px;
    min-width: calc(100% - 50px);
    height: 100%;
    transition: right 0.4s ease-in-out;
    overflow-x: auto;
    display: flex;
}

/*
* Head table
*/
main .head-table {
    width: calc(100% - 50px);
    background-color: #009FB7;
    border-top: 1px solid #00282E;
    border-bottom: 1px solid #00282E;
    box-sizing: border-box;
    font-size: 0;

    position: absolute;
    right: 0;
    top: 0;
    min-width: calc(100% - 50px);
    transition: right 0.4s ease-in-out;
    overflow-x: auto;
}

main .head-table h2 {
    margin: 0;
    padding: 10px;
    /* border-left: 1px solid #00282E; */
    border-right: 1px dashed #00282E;
    box-sizing: border-box;
    color: #F4F4F8;
    display: inline-block;
    position: relative;
    font-size: 20px;
    filter: contrast(0.8);
}

main .head-table h2:hover {
    filter: contrast(2);
    cursor: pointer;
}

/*
* Main table
*/
main .main-table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main .main-table .thead {
    background-color: #E6E6EA;
}

main .main-table .thead .c-title {
    border-bottom: 3px solid #ACACAF;
}

/*
* Col
*/
main .main-table .col {
    display: flex;
    flex-direction: row;
}

/*
* Row
*/
main .main-table .row {
    display: flex;
    flex-direction: column;
}

/*
* Cell
*/
main .main-table .cell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 20px;
    padding: 5px;
    border: 1px solid #E6E6EA;
    cursor: pointer;
}

main .main-table .cell.for-select {
    
}

main .main-table .cell.for-select select {
    padding: 5px;
    border: none;
}

main .main-table .cell:hover {
    border: 1px dashed #ddb400;
}

/*
*********** column seclector AND col index ***********
*/
main .main-table .cell.sheet-selector,
main .main-table .cell.line-selector,
main .main-table .cell.tab-line-index,
main .main-table .cell.tab-line-indexes {
    width: 20px;
}
main .main-table .cell.sheet-selector label,
main .main-table .cell.line-selector label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

main .main-table .line-selector label {
    border-radius: 50%;
}

main .main-table .cell.sheet-selector input[type="checkbox"],
main .main-table .cell.line-selector input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 5px;
}

main .main-table .row .c-title {
    background-color: #E6E6EA;
}

/*
* span & input
*/
main .main-table span,
input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    outline: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
* Field active / inactive
*/
main .main-table span.inactive,
input.inactive {
    display: none;
}

main .main-table input.active,
input.active {
    display: block;
}

main .main-table .cell.active {
    background: #F86060;
    opacity: 0.2;
}

main .main-table .cell.inactive {
    border-color: #4AB300;
}


/* 
*  SWITCH => Checkbox
 */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ddb400;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ddb400;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}